---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MSMSAA: Sign Up</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<h1 class="text-center">MSMS Alumni Association</h1>
</div>
<div class="container">
    <div class="row">
		{% include top_menu.html %}
    </div>
    <div class="row">
        <div class="col-sm-3">
			{% include side_menu.html %}
        </div>
        <div class="col-sm-9">
			<p>Use this form to request an account on the alumni
			website if you do not already have one or if you have
            a new email address since originally creating your account.  
            Please use the first and last name that you used when you 
            attended MSMS to complete this form.</p>
			
			<form method="POST" action="/msmsaa-bin/newacct">
				<div class="form-group">
    				<label for="firstName">First name</label>
    				<input name="firstname" type="text" class="form-control" 
						id="firstName" placeholder="First Name">
  				</div>
				<div class="form-group">
    				<label for="lastName">Last name</label>
    				<input name="lastname" type="text" class="form-control" 
						id="lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
    				<label for="emailAddress">Email address</label>
    				<input name="email" type="email" class="form-control" 
						id="emailAddress" placeholder="Email">
  				</div>
				<div class="form-group">
    				<label for="gradYear">Graduation year</label>
    				<input name="gradyear" type="number" class="form-control" 
						min="1000" max="3000" value="2000"
						id="gradYear" placeholder="2000">
  				</div>
				<div class="form-group">
    				<div class="col-sm-offset-9 col-sm-9">
      					<button type="submit" 
							value="Submit your request" 
							class="btn btn-default">
							Submit
						</button>
    				</div>
  				</div>
			</form>
        </div>
    </div>
</div>
</body>
</html>    
