---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MSMSAA: Memorial</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<h1 class="text-center">MSMS Alumni Association</h1>
</div>
<div class="container">
    <div class="row">
			{% include top_menu.html %}
    </div>
    <div class="row">
        <div class="col-sm-3">
            {% include side_menu.html %}
        </div>
        <div class="col-sm-9">
			<p>In remembrance of those alumni who have passed away, we created
this page to share our memories.  If the person's name is a link, follow the 
link to find more comments from friends.  Help us remember these alumni by 
emailing your own comments or corrections to 
<a href="mailto:webmaster@msmsaa.org">webmaster@msmsaa.org</a>.
			<div class="panel-group" id="accordion" role="tablist" 
				aria-multiselectable="true">
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingOne">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseOne" 
								aria-expanded="false" 
								aria-controls="collapseOne">
								Faculty and Staff</a>
      					</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
									Katherine Bunch
								</div>
  								<div class="panel-body">
									Dr. Bunch was MSMS's first Director
									of External Affairs.  She succumbed
									to cancer on January 1, 1996.
  								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Carl Butler
								</div>
								<div class ="panel-body">
									Carl Butler died at home on June 3, 2003 
									after struggling with multiple myeloma. 
									He went into the hospital the day after 
									giving his last exam. In lieu of flowers, 
									the family requests that donations be made 
									to the history room at the Columbus Public 
									Library.
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Mary Davidson
								</div>
								<div class="panel-body">
									Mary Davidson passed away on June 17, 2010 
									at Baptist Memorial Hospital-Golden 
									Triangle. Dr. Davidson taught in
									the biology department of MSMS.
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel panel-heading">
									Lily Doty
								</div>
								<div class="panel-body">
									Lily Doty passed away after a long 
									struggle with cancer on February 19, 2003. 
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel panel-heading">
									Judy Morris
								</div>
								<div class="panel-body">
									Judith Anne "Judy" Morris, 62, died 
									January 2, 2005, at Baptist Memorial in 
									Columbus. Mrs. Morris was an MSMS history
									teacher and swim coach.  
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingTwo">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseTwo" 
								aria-expanded="false" 
								aria-controls="collapseTwo">
								Class of 1990</a>
      					</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
									Vel Anthony
								</div>
								<div class="panel-body">
									<p>Vel died as a result of a single car 
									accident in the summer of 1989, never 
									returning to graduate with the inaugural 
									class.</p>

									<blockquote>
									<p>Vel Anthony was probably one of the 
									easiest going people of that first class. 
									No matter where he is was or what he was 
									doing Vel was smiling. And that first year 
									smiling was sometimes rare. Even in the 
									middle class if you looked at him he 
									would be smiling. The first year PE was a 
									requirement. Vel was my doubles partner in 
									tennis lessons. We SUCKED. But he could 
									always make me laugh about how bad we were 
									(and I can be competitive). Vel was a big 
									loss to our class.</p>
									<footer>Alice (Thompson) Wurst, Class
									of 1990.</footer>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingThree">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseThree" 
								aria-expanded="false" 
								aria-controls="collapseThree">
								Class of 1991</a>
      					</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
									Normand Chouinard
								</div>
								<div class="panel-body">
								Normand Chouinard died on February 26, 2011.
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Joey Purvis
								</div>
								<div class="panel-body">
									<p>On December 15, 2001, Joey, a 
									fourth-year student at the University of 
									Mississippi Medical Center, died in a car 
									accident off the Pennsylvania turnpike.</p>
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Chris Read
								</div>
								<div class="panel-body">
									<p>Chris died as a result of a car accident
									on January 19, 1993 in Laurel, MS.</p>
								</div>
							</div>
						</div>
					</div>
				</div>	
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingFour">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseFour" 
								aria-expanded="false" 
								aria-controls="collapseFour">
								Class of 1992</a>
      					</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
									Aliess Adams
								</div>
								<div class="panel-body">
									<p>Aliess was born George Randall Adams 
									to George and Shirley Adams. She graduated 
									from LSU in 1998 where she studied Studio 
									Art focusing on Sculpture and 
									Metalsmithing, Computer Science, and 
									Mathematics.</p>

									<p>Aliess worked in software development 
									as she enjoyed seeing how things worked. 
									She then embarked on a career in the 
									coffee industry repairing and restoring 
									espresso machine equipment.</p>

									<p>Aliess passed away on March 18, 2014.</p>

									<p>Contributions may be made in her name 
									to <a href=
									"http://www.treehouseanimals.org/">
									Tree House</a> or <a href=
									"http://www.southernequality.org/">
									Southern Equality.</a>
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Mikael Edmonds
								</div>
								<div class="panel-body">
									<p>Mikael Ken Edmonds of Alexandria, VA, 
									died December 22, 2009 at Georgetown 
									University Hospital following a six-month 
									battle with cancer. He was born 
									March 28, 1974, and grew up in Starkville, 
									MS. Edmonds attended Mississippi State 
									School for Math and Science and 
									graduated in 1992 from Starkville High 
									School. He graduated from the University 
									of Alabama in 1997 with bachelor's degrees 
									in journalism and math. He earned a 
									master's degree in strategic intelligence 
									from American Military University in 2004. 
									From 1998 to 2006, he was employed by the 
									Fayetteville (N.C.) Observer as a Web 
									producer and columnist. Edmonds moved to 
									Army Times Publishing Co., 
									Springfield, Va., in 2006 where he was a 
									Web editor. In 2008, he moved to Northrop 
									Grumman, McLean, Va., where he worked as a 
									social media analyst. 
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Shellie McKnight
								</div>
								<div class="panel-body">
									<p>Shellie was working at Mud Island, in 
									Memphis, Tennessee, as a tour guide in the 
									summer of 1994 when she lost her footing
									while cleaning the monorail window, 
									something that was not a part of her job. 
									Witnesses said she appeared to have lost 
									her footing and fell from the platform.</p> 
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Thomas Oswalt
								</div>
								<div class="panel-body">
									T. Oswalt succumbed to leukemia on 
									December 25, 1997.
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Katherine Henderson Shropshire
								</div>
								<div class="panel-body">
									Katherine Shropshire passed away in her 
									sleep on August 7. 2015.
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingFive">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseFive" 
								aria-expanded="false" 
								aria-controls="collapseFive">
								Class of 1993</a>
      					</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
									Will Hayes
								</div>
								<div class="panel-body">
									Will passed away on February 13, 2006.
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Kendall Hoskin
								</div>
								<div class="panel-body">
									Kendall passed away on August 2, 2006 at
									Hospice Ministries in Ridgeland after a 
									month long struggle with an unspecified
									neurological infection.
									<blockquote>
									Ken was a beautiful person. I might never 
									have known him had it not been for our 
									random pairing in AP Physics Lab. He was 
									kind to a clueless junior, and went out of 
									his way to share himself with many of us. 
									I hope many other people got to know Ken 
									after MSMS; I am sure those that did 
									appreciate his warmth and kindness, and 
									miss him terribly. I love you, Ken. 
									Thank you for being there.
									<footer>Kohl Gill, Class of 1994</footer>
									</blockquote>

								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Henry Lee "Trey" Mangum III
								</div>
								<div class="panel-body">
									<p>Trey earned his Bachelor Degree in 1997 
									   from Millsaps College, a Master of 
								       Communication from Mississippi College, 
									   a Master of Social Work in 2004 from 
									   the University of Texas, and his PhD in 
									   Social Work from Jackson State 
									   University.</p>
									 <p>Trey served as the Executive 
									   Director of Grace House from 2005-2010 
                                       and was the Director of Housing for 
                                       NO/AIDS Task Force in New Orleans. A 
                                       communicant of St. James' Episcopal 
                                       Church, he served as Vice Chairman of 
                                       the National Episcopal AIDS Coalition.
									   </p>
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
									Jim Owens
								</div>
								<div class="panel-body">
									<p>Jim Owens, 34, of Kingsport, TN, passed 
									away on Sunday (July 19, 2009).</p>
									<p>Born in Pasagoula, MS, he had resided 
									in Kingsport for the past six years. Jim 
									was employed by BAE systems as a research 
									and development chemist. He was a graduate 
									of the University of Southern Mississippi 
									and Loyola University of Chicago. Jim was a
									member of First Broad Street United 
									Methodist Church. He was a loving father, 
									son and brother. He is survived by his 
									wife, Mandy Owens; son, Graham Owens; and 
									daughter, Anna Owens, all of Kingsport; 
									parents, Clarence and Kathie Owens of 
									Akron, Ohio; and brother, Mark Owens and 
									wife, Deni of Birmingham, Ala.</p>
								   <p>In lieu of flowers, the family requests 
									that memorial contributions be made to 
									St. Jude Children's Research Hospital, 
									501 St Jude Pl, Memphis, TN 38105.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingSix">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseSix" 
								aria-expanded="false" 
								aria-controls="collapseSix">
								Class of 1994</a>
      					</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
								Tina Caruthers Boyd
								</div>
								<div class="panel-body">
								Tina died the night of January 10, 2001 at 
								around 11:00 p.m. Tina had been in the hospital
								for about 6 weeks. She was suffering from ARDS 
								(Acute Respiratory Distress Syndrome) which 
								caused much damage to her lungs. She is 
								survived by her husband, Derek, and two 
								children, Bowan and Jackson.
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingSeven">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseSeven" 
								aria-expanded="false" 
								aria-controls="collapseSeven">
								Class of 1995</a>
      					</h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingSeven">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
									Laureen Jensen
								</div>
								<div class="panel-body">
									Laureen passed away on May 2, 2005.
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingEight">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseEight" 
								aria-expanded="false" 
								aria-controls="collapseEight">
								Class of 1996</a>
      					</h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingEight">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
								Thomas Baggett
								</div>
								<div class="panel-body">
								Thomas Baggett died on Saturday, July 23, 2011,
								in St. Louis. Thomas was born in Vicksburg and 
								grew up in Rolling Fork and Vicksburg. After 
								graduating from MSMS, he attended the 
								University of Virginia with a major in physics 
								and several minors. Thomas moved to St. Louis 
								and set up a very successful tutoring service 
								specializing in teaching math and science to 
								local high school students. Thomas is 
								remembered for his fun-loving personality.
								</div>
							</div>
							<div class="panel-info">
								<div class="panel-heading">
								Matt Freeman
								</div>
								<div class="panel-body">
								Matt died as a result of a car accident on
								July 26, 1998.
								</div>
							</div>
							<div class="panel-info">
								<div class="panel-heading">
								Jason Powell
								</div>
								<div class="panel-body">
								Around 1:30AM, Friday, November 12, 1999, 
								Jason died when a train collided with his car.
								<blockquote>
								Jason Powell ("J.P.") was a great friend.  As
								someone who lived not more than 90 feet from
								him for two years, I know that he was one of 
								the nicest, friendliest, and most "for-real" 
								people in our class. He always managed to find
								something good or humorous about whatever life
								threw at him, and because of that, it seemed
								that nothing could ever get him down.
								<p>He was a leader.  If he ever played a 
								sport with you, he made the game fun, because
								he knew how to handle himself and other
								people on the field.  And, because of that
								natural charisma, people liked him and wanted 
								him around.</p>
								<p>J.P. was a great guy and friend, and I'm
								glad I had the opportunity to know him 
								while he was with us.</p>
								<footer>Erik Brown, Class of 1996</footer>
								</blockquote>
								<blockquote>
								I've been putting this off for a while now. I
								have had a very hard time coping with the loss
								of such a great friend as Jason.  We were 
								roommates for the second half of senior
								year.  But we were much more than roommates,
								we were very close friends. I have not 
								experienced such a loving group of people as
								I did with Jason, Heidi, David, Gary, Chris,
								Rosemary, Amelia, Jeremy, and all the rest
								of you. Every time I think about Jason, I can't
								help but smile.  He was always strong in
								his convictions and rarely had a negative
								word to say about anyone.  He was an example
								to the rest of us.  Jason, we miss you dearly
								and can't wait to see you again.
								<footer>Shawn Cook, Class of 1996</footer>
								</blockquote>
								<blockquote>
								I have a lot of great memories from MSMS, and 
								among them are the times I would play pool with
								J.P. in the activity center. J.P. was what you 
								could call a genuinely great person -- smart 
								yet humble, kind, and fun. I will never forget 
								his laugh or his smile. He always made the best
								of whatever situation came his way.

								<p>Everyone who knew J.P. has suffered a great 
								loss with his untimely departure, because 
								everyone who was around him would inevitably 
								have his optimism and joy rub off on them. But 
								nothing makes me sadder than to think that 
								J.P. will not have more time to find joy in 
								life here on earth, something he did so well. I
								am indebted to him for making such a positive 
								impression on me, and I will always cherish my 
								memories of him.</p>

								<footer>Mike Joyce, Class of 1996</footer>
								</blockquote>
								<blockquote>
								I really miss Jason. J.P., Chris Fite, and I 
								all went to the same high school. We became 
								instant friends in our Lift Off Program, for 
								gifted students. J.P. was the one responsible 
								for helping me get saved. He invited me out to 
								this big event at Columbia High School and 
								that night I gave my life to God. I will be 
								forever thankful to JP for the great gift. We 
								made a whole lot of trips together from 
								Columbia to Columbus on extended weekends. He 
								was one of the most kindhearted persons that 
								you would ever encounter. He was truly an 
								angel. I MISS YOU J.P. I know that you are 
								smiling down on us.

								<footer>Reco Williams, Class of 1996</footer>
								</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingNine">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseNine" 
								aria-expanded="false" 
								aria-controls="collapseNine">
								Class of 1997</a>
      					</h4>
					</div>
					<div id="collapseNine" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingNine">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
								Betsy Sheffield
								</div>
								<div class="panel-body">
								Betsy Sheffield, along with her mother
								and her sister Karen were killed in a car
								wreck in Mandeville, Louisiana on October 5,
								2006 when an unsecured ladder from another
								vehicle flew into their car.
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingTen">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseTen" 
								aria-expanded="false" 
								aria-controls="collapseTen">
								Class of 1998</a>
      					</h4>
					</div>
					<div id="collapseTen" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingTen">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
								Mary Beth Casto Bennett
								</div>
								<div class="panel-body">
								Mary Beth and her daughter, Alice, died in a 
								car accident in Greene County on May 8, 2009.
								</div>	
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
								William "Raundey" Randle Conner
								</div>
								<div class="panel-body">
								Raundey passed away on Wednesday, January 9, 
								2013. He was a resident of Tupelo, Mississippi.
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
								Niles Puckett
								</div>
								<div class="panel-body">
								Niles passed away on March 16, 2013 while 
								living in Denver.
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingTwelve">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" href="#collapseTwelve" 
								aria-expanded="false" 
								aria-controls="collapseTwelve">
								Class of 2000</a>
      					</h4>
					</div>
					<div id="collapseTwelve" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingTwelve">
						<div class="panel-body">
							<div class="panel panel-info">
  								<div class="panel-heading">
								Cory Flynn
								</div>
								<div class="panel-body">
								Cory Wayne Flynn, age 25, died Monday, May 14, 
								2007 in Port Arthur, Texas.
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingThirteen">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" 
								href="#collapseThirteen" 
								aria-expanded="false" 
								aria-controls="collapseThirteen">
								Class of 2001</a>
      					</h4>
					</div>
					<div id="collapseThirteen" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingThirteen">
						<div class="panel-body">
							<div class="panel panel-info">
								<div class="panel-heading">
								Cozette Butler
								</div>
								<div class="panel-body">
								Cozette Butler died on Tuesday September 7, 
								2004 in an automobile accident on her way to 
								school.
								</div>
							</div>
							<div class="panel panel-info">
  								<div class="panel-heading">
								Sharol Jackson
								</div>
								<div class="panel-body">
								Sharol passed away on April 24, 2005.
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingFifteen">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" 
								href="#collapseFifteen" 
								aria-expanded="false" 
								aria-controls="collapseFifteen">
								Class of 2003</a>
						</h4>
					</div>
					<div id="collapseFifteen" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingFifteen">
						<div class="panel-body">
							<div class="panel panel-info">
								<div class="panel-heading">
								Jennifer Lynn Neumann Robbins
								</div>
								<div class="panel-body">
								Jennifer Lynn Neumann Robbins, 22, passed away 
								as a result of a car accident on Wednesday, 
								May 2, 2007 in Huntsville, AL.
								</div>
							</div>
							<div class="panel panel-info">
								<div class="panel-heading">
								B.J. Youngblood
								</div>
								<div class="panel-body">
								B.J. Youngblood passed away as a result of a 
								car wreck on February 9, 2012.
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingSixteen">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" 
								href="#collapseSixteen" 
								aria-expanded="false" 
								aria-controls="collapseSixteen">
								Class of 2004</a>
						</h4>
					</div>
					<div id="collapseSixteen" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingSixteen">
						<div class="panel-body">
							<div class="panel panel-info">
								<div class="panel-heading">
								Grant Green
								</div>
								<div class="panel-body">
								<p>Grant passed away on June 21, 2014. 
								Grant earned a bachelor’s degree in 
								communications from Northwestern University in 
								Evanston, Ill. After working several years as 
								a fixed income derivatives trader at Gambit 
								Trading in Chicago, he attended the Darden 
								School of Business at the University of 
								Virginia. He obtained a master’s degree in 
								Business Administration in 2013. Grant was 
								very close to his family and was a director in 
								their family business. He loved the Darden 
								School of Business, UVA, and 
								Charlottesville, Va.  </p>
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingEighteen">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" 
								href="#collapseEighteen" 
								aria-expanded="false" 
								aria-controls="collapseEighteen">
								Class of 2006</a>
						</h4>
					</div>
					<div id="collapseEighteen" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingEighteen">
						<div class="panel-body">
							<div class="panel panel-info">
								<div class="panel-heading">
									Sandy Le
								</div>
								<div class="panel-body">
								<p>Sandy passed away on March 17, 2014. She 
								was a native of Pass Christian and a member of 
								the Class of 2006. She died as a result of 
								injuries incurred when a suspected drunk 
								driver drove into a crowd of festival 
								attendees at SXSW a few days earlier.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
  				<div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingNineteen">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" 
								data-toggle="collapse" 
								data-parent="#accordion" 
								href="#collapseNineteen"" 
								aria-expanded="false" 
								aria-controls="collapseNineteen">
								Class of 2007</a>
						</h4>
					</div>
					<div id="collapseNineteen" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="headingNineteen">
						<div class="panel-body">
							<div class="panel panel-info">
								<div class="panel-heading">
								Pricilla Li 
								</div>
								<div class="panel-body">
								<p>Pricilla passed away December 6, 2014. She 
								was a second year medical student at 
								University of Mississippi Medical Center School
								of Medicine. Originally from Clarksdale, 
								Mississippi, Li was also a member of the MSMS
								Class of 2007. Truly an incredibly beautiful 
								person inside and out who lit up a room with 
								her smile and friendly and outgoing personality. 								She was loved by many and will be missed 
								greatly by those whose lives she touched. The 
								University of Mississippi Medical Center School
								of Medicine created a scholarship fund in 
								memory of Pricilla.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
</body>
</html>    
