<ul class="nav nav-pills nav-stacked">
    <!--	<li><a href="http://www.msmsaa.org/docs/bylaws/by-laws.html">
        By-laws</a></li> -->
    <li><a href="http://www.msmsaa.org/newsletter.html">Newsletter</a></li>
    <li><a href="http://www.msmsaa.org/map/">Distribution map</a></li>
    <li><a href="http://www.msmsaa.org/legislators.html">Legislative Action</a>
        </li>	
    <li><a href="http://www.msmsaa.org/photos/">Photo album</a></li>
    <li><a href="http://www.msmsaa.org/memorial/">Memorial</a></li>
    <li><a href="http://www.msmsaa.org/onthenet.html">Alumni on the Net</a></li>
    <li><a href="http://www.msmsaa.org/links.html">Similar alumni organizations
        </a></li>
    <li><a href="http://www.msmsfoundation.com/">MSMS Foundation 
        <span class="glyphicon glyphicon-link"></span></a></li>
</ul>
