<div class=" navbar">
    <ul class="nav nav-tabs nav-justified">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                Private Site <b class="caret"></b></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/private/">Log In</a></li>
                <li><a href="/newacct.html">Sign Up</a></li>
                <li><a href="/forgot-password.html">Forgot Password</a>
                </li>
            </ul>
        </li>
        <li><a href="/">Main Page</a></li>
    </ul>
</div>

